Sabre tries to find non-existing timezone information and crashes

This is the follow-up of the bug described in https://github.com/owncloud/calendar/issues/1013 which seems not to be a calendar issue but a sabre one.

When trying to query my Owncloud calendar for a date **range** sabre throws an _End of document reached prematurely_ exception (see below).

Trying old versions of OC,I found that the bug was introduced when switching from OC 8.0.x to OC 8.1.0.

This is the query which looks very similar to the example code in [RFC 4791 section 7.8.3](https://tools.ietf.org/html/rfc4791#section-7.8.3) and did work prior to OC 8.1.0.
```
<?xml version="1.0" encoding="utf-8"?>
<C:calendar-query xmlns:C="urn:ietf:params:xml:ns:caldav" xmlns:D="urn:DAV">
  <D:prop>
    <C:calendar-data>
      <C:expand start="20160101T000000Z" end="20160130T000000Z"/>
    </C:calendar-data>
  </D:prop>
  <C:filter>
    <C:comp-filter name="VCALENDAR">
      <C:comp-filter name="VEVENT">
        <C:time-range start="20160101T000000Z" end="20160130T000000Z"/>
      </C:comp-filter>
    </C:comp-filter>
  </C:filter>
</C:calendar-query>
```

This is the message from the error log (slightly formatted for better readability):
```
{"reqId":"koZKBae2tKO7XPR5uPfe","remoteAddr":"192.168.0.115","app":"caldav","message":"Exception: {"Message":"End of document reached prematurely","Exception":"Sabre\VObject\EofException","Code":0,"Trace":"
#0 \usr\share\owncloud\3rdparty\sabre\vobject\lib\Parser\MimeDir.php(102): Sabre\VObject\Parser\MimeDir->readLine()
#1 \usr\share\owncloud\3rdparty\sabre\vobject\lib\Parser\MimeDir.php(63): Sabre\VObject\Parser\MimeDir->parseDocument()
#2 \usr\share\owncloud\3rdparty\sabre\vobject\lib\Reader.php(44): Sabre\VObject\Parser\MimeDir->parse('', 0)
#3 \usr\share\owncloud\3rdparty\sabre\dav\lib\CalDAV\Plugin.php(548): Sabre\VObject\Reader::read('')
#4 \usr\share\owncloud\3rdparty\sabre\dav\lib\CalDAV\Plugin.php(232): Sabre\CalDAV\Plugin->calendarQueryReport(Object(DOMDocument))
#5 [internal function]: Sabre\CalDAV\Plugin->report('{urn:ietf:param...', Object(DOMDocument), 'calendars\mike\...')
#6 \usr\share\owncloud\3rdparty\sabre\event\lib\EventEmitterTrait.php(105): call_user_func_array(Array, Array)
#7 \usr\share\owncloud\3rdparty\sabre\dav\lib\DAV\CorePlugin.php(710): Sabre\Event\EventEmitter->emit('report', Array)
#8 [internal function]: Sabre\DAV\CorePlugin->httpReport(Object(Sabre\HTTP\Request), Object(Sabre\HTTP\Response))
#9 \usr\share\owncloud\3rdparty\sabre\event\lib\EventEmitterTrait.php(105): call_user_func_array(Array, Array)
#10 \usr\share\owncloud\3rdparty\sabre\dav\lib\DAV\Server.php(469): Sabre\Event\EventEmitter->emit('method:REPORT', Array)
#11 \usr\share\owncloud\3rdparty\sabre\dav\lib\DAV\Server.php(254): Sabre\DAV\Server->invokeMethod(Object(Sabre\HTTP\Request), Object(Sabre\HTTP\Response))
#12\usr\share\owncloud\apps\calendar\appinfo\remote.php(60): Sabre\DAV\Server->exec()
#13 \usr\share\owncloud\remote.php(137): require_once('\usr\share\ownc...')
#14 {main}","File":"\usr\share\owncloud\3rdparty\sabre\vobject\lib\Parser\MimeDir.php","Line":250}","level":4,"time":"2016-01-26T12:40:29+00:00"}
```

Please have a closer look at line #2 and line #3. The exception is thrown, because the document to parse is empty.

I then peppered the source code with debug prints and narrowed it down to the function `calendarQueryReport` in `/3rdparty/sabre/dav/lib/CalDAV/Plugin.php`.

```
...
        $calendarTimeZone = null;
        if ($parser->expand) {
            // We're expanding, and for that we need to figure out the
            // calendar's timezone.

            $tzProp = '{' . self::NS_CALDAV . '}calendar-timezone';
            $tzResult = $this->server->getProperties($path, [$tzProp]);
            if (isset($tzResult[$tzProp])) {
                // This property contains a VCALENDAR with a single
                // VTIMEZONE.
...
```

However `json_encode($tzResult)` returns `{"{urn:ietf:params:xml:ns:caldav}calendar-timezone":""}`

`isset` will return True even though there is no content to parse and sabre throws the exception.

My quick fix
```
if (isset($tzResult[$tzProp]) && strlen($tzResult)>0 ) {
```
did avoid the exception and produced nearly the result I expected, which did however contain not re-decoded CR characters:
```
<?xml version="1.0" encoding="utf-8"?>
<d:multistatus xmlns:d="DAV:" xmlns:s="http://sabredav.org/ns" xmlns:cal="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/"><d:response><d:href>/owncloud/remote.php/caldav/calendars/mike/testcal1/owncloud-b38b7ed4fc69881cf4daa21afaa3afbd.ics</d:href><d:propstat><d:prop><cal:calendar-data>BEGIN:VCALENDAR&#13;
VERSION:2.0&#13;
PRODID:ownCloud Calendar&#13;
CALSCALE:GREGORIAN&#13;
BEGIN:VEVENT&#13;
UID:5684d8902d&#13;
...
```

At this point I decided to let people have a look at it who know the code better.



The real question here is, why does that property return a 0-length string? I think that's the true source of this bug...

I've only looked at the source code of Owncloud and Sabre for a few days and I haven't figured out how the pieces work together. 

From what I can gather from this part of the code is that `calendarQueryReport` gets `$dom` which contains the above mentioned query.

But `$this->server->getProperties(...);` seems not to relate to this query - as I initially thought - but to something else which seems to be stored in `$this->server->tree`.

However I wasn't able to find when this class was initialized and where it got its contents nor do I know how to "dump" the `tree` so see what it contains.

Can you can give me some pointers?

Thanks

Owncloud should have a class somewhere that implements the interface : `Sabre\CalDAV\Backend\BackendInterface` that class should be responsible for returning the timezone information.

If you need more info than that, I'd strongly suggest to just open a ticket at owncloud. I do feel this should be considered a bug and I'm sure they will treat it as one. Just link to this ticket from there so they know the background.