Getting "Depth must be 0" when em Client attempts a principal search

Hi,

I've just installed the latest (3.0.2) version of sabre-dav, and I'm running the test groupware server for Cal/CardDav (as that's all I need).

I'm using the latest em Client (6.0.22344.0) and I'm getting errors when composing a new email and partially typing contact names in.

Looking at the em Client logs it appears to be doing a REPORT that sabre is interpreting as a Bad Request and rejecting (see logs below).

I'm not sure how to diagnose further, or if the problem lies on the client or server side.  Looking at the code I can see in Plugin.php that it's from the method "principalPropertySearchReport":
```
if ($this->server->getHttpDepth('0') !== 0) {
            throw new BadRequest('Depth must be 0');
        }
```
sadly my php knowledge is lacking so I'm not sure what that means.  Happy to investigate further if you want to give me a steer.

Log file from em Client follow:

```
06:44:22.355|021|   C: PrincipalSearchCommand http://192.168.1.124/sabreDAV/syno.php/principals/admin/
06:44:22.355|021|   <?xml version="1.0" encoding="utf-8"?><D:principal-property-search test="anyof" xmlns:D="DAV:"><D:property-search><D:prop><D:displayname /></D:prop><D:match match-type="starts-with">mag</D:match></D:property-search><D:property-search><D:prop><first-name xmlns="http://calendarserver.org/ns/" /></D:prop><D:match match-type="starts-with">mag</D:match></D:property-search><D:property-search><D:prop><last-name xmlns="http://calendarserver.org/ns/" /></D:prop><D:match match-type="starts-with">mag</D:match></D:property-search><D:property-search><D:prop><email-address-set xmlns="http://calendarserver.org/ns/" /></D:prop><D:match match-type="starts-with">mag</D:match></D:property-search><D:prop><D:displayname /><calendar-user-type xmlns="urn:ietf:params:xml:ns:caldav" /><email-address-set xmlns="http://calendarserver.org/ns/" /></D:prop><D:apply-to-principal-collection-set /></D:principal-property-search>
06:44:22.585|021|   S: REPORT http://192.168.1.124/sabreDAV/syno.php/principals/admin/
06:44:22.585|021|   BadRequest Bad Request
06:44:22.585|021|   Response, stream length: 
-1, 258
06:44:22.585|021|   Content: 
<?xml version="1.0" encoding="utf-8"?>
<d:error xmlns:d="DAV:" xmlns:s="http://sabredav.org/ns">
  <s:sabredav-version>3.0.2</s:sabredav-version>
  <s:exception>Sabre\DAV\Exception\BadRequest</s:exception>
  <s:message>Depth must be 0</s:message>
</d:error>
```

Read:

https://www.udemy.com/learn-php-programming-from-scratch/#10things

In particular this segment:

> This report is only defined when the Depth header has value "0";
> other values result in a 400 (Bad Request) error response.  Note
> that [RFC3253], Section 3.6, states that if the Depth header is
> not present, it defaults to a value of "0".

Couldn't be more clear, and therefore definitely a client issue. When in doubt, it's the client's fault ;)


Fair enough, I shall go hassle them :)  
(it's all angle-brackets to me)

for completeness and future issue archaeologists, I suspect the link should have been to:
https://www.ietf.org/rfc/rfc6578.txt

Actually it was : 

http://tools.ietf.org/html/rfc3744#section-9.4 

Had a different link still in my buffer apparently =) Curious what Em Client's response will be.

Grab some popcorn and watch here:
https://forum.emclient.com/emclient/topics/when-creating-an-email-typing-in-the-to-box-i-get-an-error-pop-up-whilst-it-looks-up-email?rfm=1&topic_submit=true

To be fair to them, as I've worked my way through a number of Cal/CardDAV options they've been pretty responsive to acknowledging problems.  

I'm trying to find the "one true local-mail client" to replace Outlook and it may well be em.

Em Client is pretty great =) 

But yea just so you're aware, you referenced the wrong rfc.

I've edited to avoid confusion